@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #335fff;
  --secondary: #528bff;
  --button: #3337FF;
  --tertiary: #1f2024;
  --surface: #e5e5e6;
  --tint: #A1A2A5;
  --text: #BBBCBE;
  --background: rgb(17, 18, 22);
  --foreground: #ededed;
  --selection-bg: hsla(var(--primary), 50%) !important;
  --selection-color: #335fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #335fff;
    --secondary: #528bff;
    --button: #3337FF;
    --tertiary: #1f2024;
    --surface: #e5e5e6;
    --tint: #A1A2A5;
    --text: #BBBCBE;
    --background: rgb(17, 18, 22);
    --foreground: #ededed;
    --selection-bg: hsla(var(--secondary), 50%) !important;
    --selection-color: #335fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: var(--selection-bg);
  color: var(--selection-color);
}